<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <header class="header">
        <div class="container header__row">
            <span class="logo">PASTASI</span>
            <ul class="header-nav">
                <li class="header-nav__item">
                    <span class="header-nav__link">
                        HOME
                    </span>
                </li>
                <li class="header-nav__item">
                    <span class="header-nav__link">
                        ABOUT
                    </span>
                </li>
                <li class="header-nav__item">
                    <span class="header-nav__link">
                        MENU
                    </span>
                </li>
                <li class="header-nav__item">
                    <span class="header-nav__link">
                        FILIAL
                    </span>
                </li>
                <li class="header-nav__item">
                    <span class="header-nav__link">
                        CONTACT
                    </span>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <section class="home">
            <div class="container">
                <div class="loading">
                    <h1>Loading...</h1>
                </div>

                
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            &copy; 2024 , devoloped by React
        </div> 

    </footer>
</body>
</html>